<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div style="margin-bottom: 20px" class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <div style="float: left;">
            <input type="radio"
                   name="payment[method]"
                   class="radio"
                   data-bind="click: getTransaction(),attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        </div>
        <div>
            <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>

            <div style="float: right;">
                <!-- ko if: isBanner() -->
                <a data-bind="attr: {href: $t('CUSTOMER_LANDINGPAGE')}" target="_blank">
                    <img data-bind="attr: {alt: $t('sofort_banner_alt_text'), src: 'https://cdn.klarna.com/1.0/shared/image/generic/badge/' + $t('en') + '/pay_now/standard/pink.svg'}"/>
                </a>
                <!-- /ko -->

                <!-- ko if: !isBanner() -->
                <a data-bind="attr: {href: $t('CUSTOMER_LANDINGPAGE')}" target="_blank">
                    <img data-bind="attr: {alt: $t('sofort_banner_alt_text'), src: 'https://cdn.klarna.com/1.0/shared/image/generic/badge/' + $t('en') + '/pay_now/standard/pink.svg'}"/>
                </a>
                <!--/ko-->
            </div>
            <div class="field type" data-bind="i18n: 'Payment system with data protection certified by TÜV Saarland'"></div>
        </div>
    </div>
    <div class="payment-method-content">
        <div>
            <!-- ko foreach: getRegion('messages') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->

        </div>
        <!-- ko if: !isBanner() -->

        <!--<div class="field type" data-bind="i18n: 'No registration required'"></div>-->
        <!--<div class="field type" data-bind="i18n: 'Stock goods/content can be shipped/activated immediately'"></div>-->
        <!--<div class="field type" data-bind="i18n: 'Please have your online banking details ready'"></div>-->

        <!--/ko-->
<br>
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                            click: placeOrder,
                            attr: {title: $t('Place Order')},
                            css: {disabled: !isPlaceOrderActionAllowed()},
                            enable: (getCode() == isChecked())
                            ">
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>